.bot-display {
	height: 300px;
	overflow-y: scroll;
	resize: vertical;
}

.bot-display-container {
	width: 87%;
}

.bot-panel, .bot-advance, .bot-debug-lastpara, .bot-session {
	width: 35%;
}

.bot-code, .bot-file, .bot-debug-lastjson {
	width: 50%;
}

.bot-ui {
	vertical-align: top;
	border: solid 2px #666;
	margin-top: 2px;
	padding: 5px;
	display: inline-block;
	background-color: #f2f2f2;
	box-shadow: 10px 5px 0px #ccc;
}

textarea#code {
	width: 620px;
	height: 120px;
}

textarea#payload, textarea#lrpayload, textarea#text {
	width: 95%;
	height: 50px;
}

input#lrurl {
	width: 90%;
}

.jh-object-key {
	width: 100px;
}

.jh-root tr {
	border-bottom: solid 1px #ccc;
}

.jh-root {
	border: 3px solid #666 !important;
	background-color: #fff !important;
	width: 95% !important;
	font-size: 12px;
}

body {
	font-family: "Courier New", Courier, monospace;
}

textarea { 
	font-family: inherit;
	font-size: inherit;
	border: solid 2px #666;
}

textarea, input {
	outline: none;
	 -webkit-appearance: none;
	 -webkit-border-radius: 0;
	 border-radius: 0;
}

select {
	max-width: 200px;
}