.bot-display {
	zoom: 20%;
	height: 1500px;
	overflow-y: scroll;
	border: solid 2px #666;
	padding: 5px;
	margin-bottom: 10px;
	resize: vertical;
}

.bot-panel {
	width: 35%;
}

.bot-code {
	width: 50%;
}

.bot-advance {
	width: 35%;
}

.bot-file {
	width: 50%;
}

.bot-ui {
	vertical-align: top;
	border-left: solid 2px #666;
	border-top: solid 2px #666;
	margin-top: 2px;
	padding: 5px;
	display: inline-block;
}

textarea#code {
	width: 620px;
	height: 120px;
}

textarea#payload {
	width: 95%;
	height: 50px;
}
